$primaryColor1: hsl(233, 47%, 7%);
$primaryColor2: hsl(244, 38%, 16%);
$primaryColor3: hsl(277, 64%, 61%);
$neutralColor1: hsl(0, 0%, 100%);
$neutralColor2: hsla(0, 0%, 100%, 0.75);
$neutralColor3: hsla(0, 0%, 100%, 0.6);
